


body {
    /* font-family: Arial, sans-serif; */
    /* text-align: center; */
    background: url('bg2.jpg')no-repeat;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    /* min-height: 100vh; */
    /* background: url('Background.jpg')no-repeat; */
    background-size: cover;
    background-position: center;
}

.assign{
    margin-left: 450px;
    margin-top: 70px;
}
.logo{
    margin-left: 20px;
    margin-bottom: 10px;
}
.container{
    display: block;
}

.question-container {
    /* margin: 20px; */
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 150px;
    /* color: rgb(15, 5, 80); */
    /* text-decoration-color: rgb(233, 240, 240); */
}
.question-container p{
    color: rgb(1, 1, 7);
}
.container .question-container p{
    font-size: 30px;
}

#codeX{
    width: 800px;
    height: 300px;
}



.answer{
    margin-left: 150px;
}
.button-container {
    /* height: 000px; */
    /* margin-top: 1000px; */
    text-align: center;
    margin-left: 645px;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
}
