.course{
-webkit-text-size-adjust: 100%;
font-size: 1rem;
line-height: 1.6;
--animation-fade_in-opacity: 0;
--animation-fade_in_up-opacity: 0;
--animation-fade_in_left-opacity: 0;
--animation-fade_in_right-opacity: 0;
--animation-fade_in_down-opacity: 0;
--animation-fade_in_up_big-opacity: 0;
--animation-fade_in_left_big-opacity: 0;
--animation-fade_in_right_big-opacity: 0;
--animation-fade_in_down_big-opacity: 0;
--animation-fade_out-opacity: 0;
--animation-fade_out_up-opacity: 0;
--animation-fade_out_left-opacity: 0;
--animation-fade_out_right-opacity: 0;
--animation-fade_out_down-opacity: 0;
--animation-fade_out_up_big-opacity: 0;
--animation-fade_out_left_big-opacity: 0;
--animation-fade_out_right_big-opacity: 0;
--animation-fade_out_down_big-opacity: 0;
--animation-rotate_in-rotate: -200deg;
--animation-rotate_in_down_left-rotate: -45deg;
--animation-rotate_in_down_right-rotate: 45deg;
--animation-rotate_in_up_left-rotate: 45deg;
--animation-rotate_in_up_right-rotate: -90deg;
--animation-rotate_out-rotate: 200deg;
--animation-rotate_out_down_left-rotate: 45deg;
--animation-rotate_out_down_right-rotate: -45deg;
--animation-rotate_out_up_left-rotate: -45deg;
--animation-rotate_out_up_right-rotate: 90deg;
--animation-roll_in-rotate: -120deg;
--animation-roll_in-translate_x: -100%;
--animation-roll_out-rotate: 120deg;
--animation-roll_out-translate_x: 100%;
--animation-zoom_in-scale: 0.3;
--animation-zoom_in_down-scale: 0.475;
--animation-zoom_in_down-translate_y: 60px;
--animation-zoom_in_up-scale: 0.475;
--animation-zoom_in_up-translate_y: -60px;
--animation-zoom_in_left-scale: 0.475;
--animation-zoom_in_left-translate_x: 10px;
--animation-zoom_in_right-scale: 0.475;
--animation-zoom_in_right-translate_x: -10px;
--animation-zoom_out-scale: 0.3;
--animation-zoom_out_down-scale: 0.475;
--animation-zoom_out_down-translate_y: -60px;
--animation-zoom_out_up-scale: 0.475;
--animation-zoom_out_up-translate_y: 60px;
--animation-zoom_out_left-scale: 0.475;
--animation-zoom_out_left-translate_x: 42px;
--animation-zoom_out_right-scale: 0.475;
--animation-zoom_out_right-translate_x: -42px;
--animation-slide_in_down-translate_y: -100%;
--animation-slide_in_up-translate_y: 100%;
--animation-slide_in_left-translate_x: -100%;
--animation-slide_in_right-translate_x: 100%;
--animation-slide_out_down-translate_y: 100%;
--animation-slide_out_up-translate_y: -100%;
--animation-slide_out_left-translate_x: -100%;
--animation-slide_out_right-translate_x: 100%;
font-family: 'Open Sans', sans-serif;
--effect-scale: 1.1;
--theme-sheet-width-xl: 1140px;
--theme-sheet-width-lg: 940px;
--theme-sheet-width-md: 720px;
--theme-sheet-width-sm: 540px;
--theme-sheet-width-xs: 340px;
pointer-events: initial;
text-align: left;
--border-top-left-radius: initial;
--border-top-right-radius: initial;
--border-bottom-right-radius: initial;
--border-bottom-left-radius: initial;
--border-radius: 20px;
color: #111111;
--animation-custom_in-translate_x: 0px;
--animation-custom_in-translate_y: 300px;
--animation-custom_in-opacity: 0;
--animation-custom_in-rotate: 0deg;
--animation-custom_in-scale: 1;
box-sizing: border-box;
position: relative;
flex: 1;
max-width: 100%;
transition-duration: inherit;
padding: 30px 30px 0;
border-radius: var(--border-top-left-radius, var(--border-radius, 0)) var(--border-top-right-radius, var(--border-radius, 0)) var(--border-bottom-right-radius, var(--border-radius, 0)) var(--border-bottom-left-radius, var(--border-radius, 0)) !important;}