 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1240px;
}

.u-section-1 .u-shape-1 {
  width: 863px;
  height: 718px;
  margin: 60px 0 0 auto;
}

.u-section-1 .u-image-1 {
  width: 660px;
  height: 661px;
  object-position: 0% 50%;
  background-position: 50% 50%;
  background-image: url("images/vbvbbvbb.jpg");
  margin: -737px 107px 0 auto;
}

.u-section-1 .u-layout-wrap-1 {
  width: 966px;
  margin: -147px auto 41px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 583px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  text-transform: none;
  margin: 0 auto;
}

.u-section-1 .u-form-1 {
  height: 299px;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  width: 100%;
  font-size: 1.125rem;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 600px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 48px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 20px 18px 0;
}

.u-section-1 .u-text-4 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  width: 183px;
  margin: 60px auto 0;
}

.u-section-1 .u-text-5 {
  width: 313px;
  margin: 18px auto 0;
}

.u-section-1 .u-text-6 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 60px auto 0;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  line-height: 2;
  width: 315px;
  font-size: 0.875rem;
  margin: 22px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1224px;
  }

  .u-section-1 .u-image-1 {
    width: 661px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 567px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 584px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 12px;
    margin-right: 12px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1182px;
  }

  .u-section-1 .u-shape-1 {
    width: 720px;
  }

  .u-section-1 .u-image-1 {
    width: 601px;
    height: 601px;
    margin-right: auto;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -87px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    width: 284px;
  }

  .u-section-1 .u-text-7 {
    width: 284px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 723px;
  }

  .u-section-1 .u-shape-1 {
    width: 540px;
  }

  .u-section-1 .u-image-1 {
    width: 541px;
    height: 541px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -26px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 523px;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    width: 341px;
    height: 341px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 174px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }
}