.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-list-1 {
  margin-top: 194px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  min-height: 587px;
  grid-gap: 30px 30px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-1 .u-image-1 {
  width: 186px;
  height: 186px;
  background-image: url("images/python.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-1 {
  width: 282px;
  min-height: 260px;
  margin: -186px 0 0 auto;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  font-family: Raleway, sans-serif;
  margin: 19px auto 0 0;
}

.u-section-1 .u-text-3 {
  font-weight: 300;
  font-style: normal;
  margin: 19px 0 0;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  margin: 10px 0 0;
}

.u-section-1 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 30px 0;
}

.u-section-1 .u-image-2 {
  width: 186px;
  height: 186px;
  background-image: url("images/intro.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-2 {
  width: 282px;
  min-height: 260px;
  margin: -186px 0 0 auto;
}

.u-section-1 .u-text-4 {
  font-weight: 400;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  font-family: Raleway, sans-serif;
  margin: 19px auto 0 0;
}

.u-section-1 .u-text-6 {
  font-weight: 300;
  font-style: normal;
  margin: 19px 0 0;
}

.u-section-1 .u-btn-2 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  margin: 10px 0 0;
}

.u-section-1 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 30px 0;
}

.u-section-1 .u-image-3 {
  width: 186px;
  height: 186px;
  background-image: url("images/c.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-3 {
  width: 282px;
  min-height: 260px;
  margin: -186px 0 0 auto;
}

.u-section-1 .u-text-7 {
  font-weight: 400;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-8 {
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  font-family: Raleway, sans-serif;
  margin: 19px auto 0 0;
}

.u-section-1 .u-text-9 {
  font-weight: 300;
  font-style: normal;
  margin: 19px 0 0;
}

.u-section-1 .u-btn-3 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  margin: 10px 0 0;

}

.u-section-1 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px 30px 0;
}

.u-section-1 .u-image-4 {
  width: 186px;
  height: 186px;
  background-image: url("images/c++.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-4 {
  width: 282px;
  min-height: 260px;
  margin: -186px 0 0 auto;
}

.u-section-1 .u-text-10 {
  font-weight: 400;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-11 {
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  font-family: Raleway, sans-serif;
  margin: 19px auto 0 0;
}

.u-section-1 .u-text-12 {
  font-weight: 300;
  font-style: normal;
  margin: 19px 0 0;
}

.u-section-1 .u-btn-4 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  margin: 10px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 798px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 271px;
    margin-bottom: 53px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 577px;
  }

  .u-section-1 .u-image-1 {
    width: 154px;
    height: 154px;
  }

  .u-section-1 .u-group-1 {
    width: 225px;
    margin-top: -154px;
  }

  .u-section-1 .u-image-2 {
    width: 154px;
    height: 154px;
  }

  .u-section-1 .u-group-2 {
    width: 225px;
    margin-top: -154px;
  }

  .u-section-1 .u-image-3 {
    width: 154px;
    height: 154px;
  }

  .u-section-1 .u-group-3 {
    width: 225px;
    margin-top: -154px;
  }

  .u-section-1 .u-image-4 {
    width: 154px;
    height: 154px;
  }

  .u-section-1 .u-group-4 {
    width: 225px;
    margin-top: -154px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1054px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 194px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-image-1 {
    width: 237px;
    height: 237px;
    margin-right: 48px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 19px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-2 {
    width: 237px;
    height: 237px;
    margin-right: 48px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 19px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-3 {
    width: 237px;
    height: 237px;
    margin-right: 48px;
  }

  .u-section-1 .u-group-3 {
    margin-top: 19px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-4 {
    width: 237px;
    height: 237px;
    margin-right: 48px;
  }

  .u-section-1 .u-group-4 {
    margin-top: 19px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-list-1 {
    margin-top: 254px;
  }

  .u-section-1 .u-image-1 {
    width: 184px;
    height: 184px;
    margin-right: 11px;
  }

  .u-section-1 .u-image-2 {
    width: 184px;
    height: 184px;
    margin-right: 11px;
  }

  .u-section-1 .u-image-3 {
    width: 184px;
    height: 184px;
    margin-right: 11px;
  }

  .u-section-1 .u-image-4 {
    width: 184px;
    height: 184px;
    margin-right: 11px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-list-1 {
    margin-top: 221px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-image-1 {
    width: 245px;
    height: 245px;
    margin-right: 55px;
  }

  .u-section-1 .u-image-2 {
    width: 245px;
    height: 245px;
    margin-right: 55px;
  }

  .u-section-1 .u-image-3 {
    width: 245px;
    height: 245px;
    margin-right: 55px;
  }

  .u-section-1 .u-image-4 {
    width: 245px;
    height: 245px;
    margin-right: 55px;
  }
}

.u-section-2 {
  background-image: url("images/new.png");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 481px;
}

.u-section-2 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  font-size: 3rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 95px 84px 0;
}

.u-section-2 .u-text-2 {
  width: 760px;
  font-size: 1.25rem;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 30px auto 0;
}

.u-section-2 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 1rem;
  border-style: solid;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 30px auto 60px;
  padding: 18px 58px 19px 56px;
}

@media (max-width: 1199px) {
  .u-section-2 {
    background-size: 115%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 397px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 55px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    padding: 13px 56px 15px 55px;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    background-position: 49.05% 0%;
    background-size: auto 110%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 419px;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    background-size: auto 120%;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 379px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 43px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
    font-size: 1.125rem;
  }
}