<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assignment.css">
    <title>Assignment Page</title>
</head>
<body>
    <header>
        <p><h1>CodeX Learner</h1></p>
    </header>
    <div class="container">
        <h2 class="assign">ASSIGNMENT</h2>
        <div class="question-container">
            <h1>Question 1:</h1>
            <p>This is the first question.</p>
        </div>
        <div class="answer">
            <form action="">
                <p><label for="codeX"><h3>Write your answer here:</h3></label></p>
                <textarea id="codeX" name="codeX" rows="4" cols="50"></textarea>
                <br>
                <!-- <input type="submit" value="Submit"> -->
              </form>
        </div>
        
        <div class="button-container">
            <button id="prevButton">Previous</button>
            <button id="nextButton">Next</button>
            <button id="submitButton">Submit</button>
        </div>
    </div>
    <script src="assignment.js"></script>
</body>
</html>
